body {
    background-color: white;
    padding: 3%;
    overflow: scroll;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --color-standard: #e9e9e9;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.logo {
    width: 5%;
}

.logo-image {
    width:100%;
    height:auto;
}

.nav-bar {
    display: flex;
    gap: 10px;
}

.nav-button {
    display: flex;
    white-space: nowrap;
    border: 0;
    border-radius: 0.25rem;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 5px 1px rgb(223, 223, 223);
        background-color: var(--color-standard);
    }
}

/* Main Content */

.main-content {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Main Feed Box */

.main-feed {
    width: 50%;
    border-radius: 0.75rem;
}

/* #region Calendar */

.calendar {
    max-width: 300px;
    padding: 7%;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: var(--color-standard);
    color: rgb(0, 0, 0);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calendar-button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    &:hover {
        background-color: orangered;
    }
}

.calendar-title {
    font-size: 20px;
    font-weight: bold;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

.weekdays div, .days div {
    width: 14.25%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.days {
    height: 240px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: rgb(117, 117, 117);
        color: rgb(255, 255, 255);
    }
}

.days .today {
    background-color: orangered;
    color: white;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    &:hover {
        background-color: orangered;
        color: white;
    }
}

.days .fade {
    color: #c5c5c5;
}

.days .highlight {
    background-color: rgb(145, 145, 145);
}

.days .today.dim {
    opacity: 0.75;
}

/* #endregion */

/* Image Navigator */

.image-navigator {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    justify-content: space-between;
    flex: 1;
    margin-top: auto;
    padding: 7%;
    border-radius: 10px;
    background-color: var(--color-standard);
}

.dated-image {
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.dated-image:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 1px rgb(223, 223, 223);
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 300px; */
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--color-standard);
}

.prompt-box {
    max-width: 300px;
    padding: 5px;
    height: 100px;
    field-sizing: content;
}

.profile-content {
    display: flex;
    width: 75%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-standard);
    border-radius: 15px;
    padding: 2.5%;
}

.profile-summary {
    display: flex;
    align-items: center;
    gap: 25px;
}

.column {
    display: flex;
    flex-direction: column;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.profile-username {
    font-size: 0.75rem;
    color: rgb(175, 175, 175);
}

.settings-list {
    display: flex;
    flex-direction: column;
    width: 10px;
}

.settings-content {
    width: 10%;
    height: 50%;
    background-color: black;
}